.town-nav {
  margin-top: 40px;
  @include desktopSmall {
    margin-top: 100px;
  }
  @include desktopSmall {
    .top,
    .middle,
    .bottom {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }
    .top {
      .town-nav__town {
        width: 49.3%;
      }
    }
    .middle {
      .town-nav__town {
        width: 32.5%;
      }
    }
    .bottom {
      .town-nav__town {
        width: 100%;
      }
    }
  }
  &__town {
    width: 100%;
    position: relative;
    &:hover > div p {
      text-decoration: underline;
    }
    &-content {
      position: absolute;
      width: 100%;
      margin-top: 10%;
      h2 {
        text-align: center;
        font-size: calculateRem(29px);
        color: white;
        @include desktopSmall {
          font-size: calculateRem(32px);
          margin-bottom: 0;
        }
      }
      p {
        color: $color-yellow;
        text-align: center;
        font-size: $font-size-xlarge;
        font-weight: 900;
        @include desktopSmall {
          margin-top: 15px;
          font-size: $font-size-xxlarge;
        }
      }
    }
  }
}
