.user {
  width: 1060px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

.user h1 {
  color: tomato;
}

.user .user-data b {
  font-size: 1.1rem;
}

.user .user-data {
  margin-bottom: 10px;
  font-size: 0.87rem;
}

.user .user-posts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 25px 0;
  margin-bottom: 65px;
  background-color: #eaeaea;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.user .user-posts a {
  width: 24%;
  margin-bottom: 30px;
  padding: 3px;
  text-decoration: none;
  color: black;
  margin-top: 0;
  line-height: 15px;
}

.user .user-posts a:hover {
  text-decoration: underline;
}

.user .user-posts a img {
  width: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.user .user-posts a .post-name {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 900;
}

.user form.user-edit {
  width: 240px;
}

.user form.user-edit label {
  display: block;
  margin-bottom: 0;
  font-size: 0.85rem;
  margin-top: 20px;
}

.user form.user-edit .label-adition {
  font-size: 0.65rem;
  margin: 0;
  font-style: italic;
  color: #4c4c4c;
}

.user form.user-edit input {
  margin: 10px auto;
  border: 1px solid lightgray;
  border-radius: 4px;
  height: 33px;
  width: 100%;
  font-size: 0.9rem;
  text-indent: 6px;
  margin-top: 6px;
}

.user form.user-edit .checkbox {
  margin-left: 0 !important;
  height: 25px;
  width: 25px;
  display: block;
  margin-bottom: 35px;
}

.user form.user-edit button {
  background-color: lightgray;
  padding: 9px 22px 8px;
  border-radius: 4px;
  border: none;
  font-weight: 900;
  cursor: pointer;
}
