// Colors
$color-black: #282828;
$color-green: #009da5;
$color-yellow: #f9b942;
$color-gray: #d0d6db;
$color-red: #ff4800;
$color-light-gray: #7e9296;
$gray-border: 1px solid #e5e5e5;

// Typography
$font-family-body: "Arial", sans-serif;
$font-family-title: "Lato", sans-serif;

$font-size-tiny: calculateRem(10.3px);
$font-size-small: calculateRem(12px);
$font-size-medium: calculateRem(14px);
$font-size-large: calculateRem(16px);
$font-size-xlarge: calculateRem(18px);
$font-size-xxlarge: calculateRem(20px);
$font-size-mega: calculateRem(24px);

// animation
$transition: cubic-bezier(0.165, 0.84, 0.44, 1);
