%redux-form-borders {
  border: $gray-border;
  &:hover {
    border-color: $color-yellow;
  }
}

.mobile-desktop-frame {
  width: 92%;
  margin: 0 auto;
  @include desktopMedium {
    max-width: 1300px;
  }
}
.popup-window {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999999999999;
  div {
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border: 3;
    position: relative;
    height: auto;
    img {
      position: absolute;
      top: 11px;
      right: 12px;
      width: 32px;
      cursor: pointer;
      transition: 0.2s;
    }
    h3 {
      text-align: center;
      margin-top: 30vh;
      font-size: $font-size-xxlarge;
      color: $color-black;
      padding: 9vh 5px 3vh;
      border-radius: 5px;
      border: solid 2px $color-green;
      line-height: calculateRem(32px);
    }
  }
}

.default-redux-form {
  font-family: $font-family-body;
  input[type="text"],
  input[type="password"],
  input[type="phone"],
  input[type="email"],
  input[type="number"] {
    text-indent: 10px;
    height: 33px;
    font-size: $font-size-medium;
    @extend %redux-form-borders;
    width: 100%;
  }
  select {
    font-size: $font-size-medium;
    padding-left: 28px;
    @include backgroundIcon("list.svg", 13px, 12px center);
    @extend %redux-form-borders;
    height: 33px;
    width: 100%;
    background-color: transparent;
  }
  label {
    font-family: $font-family-title;
    font-size: $font-size-medium;
    color: $color-green;
    display: block;
    margin: 7px 0 2px;
  }
  .redux-input-container {
    height: 45px;
  }
  .redux-form-file-input-container {
    margin-bottom: 16px;
  }
  .redux-textarea-container {
    height: 130px;
    textarea {
      text-indent: 10px;
      padding-top: 10px;
      height: 110px;
      font-size: $font-size-medium;
      @extend %redux-form-borders;
      width: 100%;
    }
  }
  .redux-checkbox-container {
    margin-bottom: 11px;
    @include desktopSmall {
      margin-bottom: 18px;
    }
    input {
      height: 20px;
      width: 20px;
      cursor: pointer;
    }
    label {
      display: inline-block;
      margin-left: 3px;
      transform: translateY(-5px);
      cursor: pointer;
    }
  }
  .form-error {
    color: red;
    font-size: $font-size-small;
    display: inline-block;
    transform: translateY(-3px);
  }
  button {
    display: inline-block;
    background: $color-green;
    width: 200px;
    height: 40px;
    border: none;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    font-family: $font-family-title;
    margin-bottom: 35px;
  }
}

.section-main-title {
  font-size: $font-size-mega;
}

.default-group {
  text-align: center;
  color: $color-black;
  h1 {
    font-size: $font-size-medium;
    text-transform: uppercase;
    font-weight: 900;
    @include desktopSmall {
      margin-bottom: 1px;
      font-size: $font-size-large;
    }
  }
  p {
    font-family: $font-family-title;
    font-size: $font-size-large;
    line-height: $font-size-xxlarge;
    margin-bottom: 25px;
    @include desktopSmall {
      font-size: $font-size-mega;
    }
  }
  hr {
    border: 0;
    border-bottom: 3px solid #009da5;
    width: 5rem;
    margin: 0.75rem auto 2.625rem auto;
  }
}

.go-to-previous-page {
  margin-top: 20px;
  button {
    width: 176px;
    text-indent: 24px;
    height: 45px;
    background: white;
    font-size: $font-size-large;
    border: 2px solid $color-green;
    text-transform: uppercase;
    transition: 0.3s $transition;
    @include backgroundIcon("previous-page.svg", 20px, 10px center);
    &:hover {
      background-position: 7px center;
      color: $color-green;
    }
  }
}
